@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "./mixins.scss";

body {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(26, 35, 179, 1), rgba(86, 69, 215, 1), rgba(0, 144, 255, 1));

  .nav-head {
    padding: 10px 0 8px;
    background: #151a9a;
    .heading {
      color: $white;
      text-align: center;
      padding: 2px;
      .head-icon {
        i {
          font-size: 40px;
        }
      }
      .head-name {
        font-style: italic;
        font-family: serif;
        padding-top: 8px;
      }
    }
  }
  .nav-options {
    a {
      padding: 8px;
      text-decoration: none;
      font-size: 20px;
      color: $white;
      display: flex;
      justify-content: center;
      height: 50px;

      &:hover {
        color: $white;
        font-size: 12px;
        i {
          display: none;
        }
        &#home-nav::after {
          content: "Home";
        }
        &#skills-nav::after {
          content: "Skills";
        }
        &#about-nav::after {
          content: "Experience";
        }
        &#work-nav::after {
          content: "Projects";
        }
        &#contact-nav::after {
          content: "Contact";
        }
      }
    }
  }

  .social-links {
    a {
      padding: 8px;
      text-decoration: none;
      font-size: 16px;
      color: $white;
      display: flex;
      justify-content: center;
      height: 30px;
    }
  }
}

.main {
  padding: 0px 10px;
  margin: 0 auto;
  margin-left: 60px;
  width: 90%;
  height: 700px;
}

.section-heading {
  font-size: 40px;
  padding: 12px 0px;
}

.home-container {
  display: flex;
  align-items: center;
  .home-content {
    flex: 1;
    .greet {
      font-size: 32px;
      margin: 16px 0px;
      color: $lightgray;
    }
    .name {
      font-size: 50px;
      font-weight: bold;
      margin: 16px 0px;
      // background: -webkit-linear-gradient(to right, #1a23b3, #5645d7, #0090ff);
      background: linear-gradient(to right, #1a23b3 0%, #5645d7 20%, #0090ff 40%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .greet-description {
      font-size: 28px;
      margin: 16px 0px;
      color: $lightgray;
    }
  }
  .home-banner {
    flex: 1;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.skills-container {
  display: flex;
  align-items: center;
  margin-top: 3%;
  .skills-banner {
    border-radius: 31% 69% 70% 30% / 42% 60% 40% 58%;
    background: #fff;
    padding: 18%;
    background-position: -70px -16px;
    box-shadow: inset 0 0 8px rgba(67, 67, 67, 0.28);
    background-image: url("../assets/skills-banner.jpg");
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .skills-content {
    flex: 1;
    .skill-heading {
      font-size: 36px;
      margin: 16px 0px;
    }
    .skills-list {
      li {
        font-size: 30px;
        color: $lightgray;
      }
    }
    .skill-icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2%;
      div {
        margin: 0 8px;
        i {
          padding: 8px;
          text-decoration: none;
          font-size: 50px;
          color: $lightgray;
        }
        span {
          display: flex;
          justify-content: center;
          font-size: 12px;
        }
      }
    }
  }
}
.experience-container {
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    // height: 680px;
    // overflow: auto;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .timeline::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  .timeline {
    -ms-overflow-style: none;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: $white;
    background-image: linear-gradient(rgba(26, 35, 179, 1), rgba(86, 69, 215, 1), rgba(0, 144, 255, 1));
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 43.2%;

    &:hover {
      .content-details {
        opacity: 1;
      }
    }

    /* The circles on the timeline */
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background-color: white;
      border: 4px solid #ff9f55;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }

    /* The actual content */
    .content {
      padding: 20px 30px;
      background-color: white;
      position: relative;
      border-radius: 6px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 1);
      -moz-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 1);
      box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 1);

      p {
        color: $lightgray;
        &:last-child {
          font-style: italic;
        }
      }
    }

    .content-details {
      position: absolute;
      top: 10px;
      width: 78%;
      height: 70%;
      opacity: 0;
      padding: 20px 30px;
      border-radius: 6px;
      background-color: $white;
      transition: opacity 0.6s;

      .heading {
        font-size: 16px;
      }

      .responsibilities {
        margin: 0;
        padding: 0;
        padding-left: 30px;
        li {
          font-size: 14px;
          color: $lightgray;
          padding: 4px 0px;
        }
      }
    }
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
}

.projects-container {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;

    .card-item {
      padding: 20px 30px;
      background-color: white;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-box-shadow: 0px 0px 3px 0px #a9a9a9;
      -moz-box-shadow: 0px 0px 3px 0px #a9a9a9;
      box-shadow: 0px 0px 3px 0px #a9a9a9;
      margin: 12px;
      max-width: 26%;

      &:hover {
        -webkit-box-shadow: 0px 0px 20px 0px #a9a9a9;
        -moz-box-shadow: 0px 0px 20px 0px #a9a9a9;
        box-shadow: 0px 0px 20px 0px #a9a9a9;
      }
      .card-heading {
        font-size: 20px;
        font-weight: bold;
      }
      .card-content {
        color: $lightgray;
      }
    }
  }
}

.contact-container {
  height: auto;
  padding-bottom: 20px;
  .my-info {
    display: flex;
    flex-direction: row;

    i {
      font-size: 20px;
      margin-right: 3%;
    }
    .info-item {
      display: flex;
      flex-direction: row;
      padding: 8px;
      width: 30%;
    }

    .address {
      max-width: 70%;
    }

    .mobile {
      padding-left: 12px;
    }
  }
  .social-links {
    display: none;
    flex-direction: row;
    justify-content: center;
    a {
      padding: 8px;
      text-decoration: none;
      font-size: 20px;
      color: #292cbb;
    }
  }
}

.resume-floating-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  a {
    padding: 20px;
    border-radius: 50%;
    background-image: linear-gradient(#1a23b3, #5645d7, #0090ff);
    i {
      color: $white;
      font-size: 16px;
    }
  }
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 250px) and (max-width: 600px) {
  body {
    margin: 0;
  }
  .sidebar {
    height: 60px;
    flex-direction: row;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    background-image: linear-gradient(to right, #1a23b3, #5645d7, #0090ff);
    justify-content: flex-start;
    z-index: 10;

    .nav-head {
      width: 20%;
      .heading .head-icon i {
        font-size: 30px;
      }
    }
    .nav-options {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      a {
        flex-direction: row;
        align-items: center;
      }
    }
    .social-links {
      display: none;
    }
  }
  .main {
    padding-left: 15px;
    margin: 0;
    height: auto;
    padding-top: 60px;
  }
  .section-heading {
    font-size: 30px;
  }
  .home-container {
    flex-direction: column;
    margin-top: 70px;
    .home-content {
      order: 2;
      .greet {
        font-size: 24px;
        margin: 8px 0px;
      }
      .name {
        font-size: 40px;
        margin: 8px 0px;
      }
      .greet-description {
        font-size: 20px;
        margin: 8px 0px;
      }
    }
  }
  .skills-container {
    .skills-banner {
      display: none;
    }
    .skills-content {
      .skills-list {
        li {
          font-size: 18px !important;
        }
      }
      .skill-icons div i {
        font-size: 30px;
      }
    }
  }
  .experience-container {
    .container {
      width: 75% !important;
      .content-details {
        padding: 8px !important;
        width: 64% !important;
        height: 80%;
        .responsibilities {
          li {
            font-size: 12px;
          }
        }
      }
      &:not(:first-child) {
        opacity: 0.5;
      }
    }
  }
  .projects-container {
    .cards-container {
      .card-item {
        max-width: 100% !important;
      }
    }
  }
  .contact-container {
    .social-links {
      display: flex;
    }
    .my-info {
      .mobile {
        width: 50%;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    margin-top: 0;
    .skills-banner {
      order: 2;
      width: 36%;
      padding: 21%;
      background-position: -50px -45px;
    }
    .skills-content .skills-list li {
      font-size: 24px;
      .skill-icons div i {
        font-size: 40px;
      }
    }
  }

  .experience-container {
    .timeline::after {
      left: 31px;
    }

    /* Full-width containers */
    .container {
      width: 60%;
      padding-left: 70px;
      padding-right: 25px;
      .content {
        padding: 10px 30px;
      }
      .content-details {
        width: 69%;
        padding: 10px 30px;
      }
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
      left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  .projects-container .cards-container .card-item {
    max-width: 35%;
  }
  .contact-container .my-info {
    flex-direction: column;
    .info-item {
      width: 80%;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .experience-container {
    .container {
      width: 40.2%;
      .content-details {
        width: 64%;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .skills-container {
    .skills-banner {
      padding: 19%;
      background-position: -110px -16px;
    }
  }
  .experience-container {
    .container {
      width: 42.2%;
    }
  }

  .contact-container {
    .my-info {
      .mobile {
        width: 50%;
      }
    }
  }
}
