$themeColor: #5645d7;
$white: #fff;
$lightgray: #636363;
$bgzoom: #6db844;

@keyframes pulse-animation {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 144, 255, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 24px rgba(0, 144, 255, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 144, 255, 0);
  }
}
